html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #baaad1;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f7003d' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: "Caveat", cursive, sans-serif, arial;
  color: #000;
  font-weight: 700;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: stretch;
}

h1 {
  text-align: center;
  margin: 10px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}

h1 span {
  color: #9d0208;
}

.quote-container {
  width: auto;
  max-width: 1200px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.quote-text {
  font-size: 2.75rem;
}

/* js control */
.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 2.5rem;
}

.quote-auther {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #d00000;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #edf2f4;
  background: #ef233c;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  filter: brightness(120%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5;
}
.loader {
  justify-self: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ef233c; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Query : Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .loader {
    width: 60px;
    height: 60px;
  }
}
