html {
  box-sizing: border-box;
}

body {
   margin: 0;
  font-family: "Caveat", cursive, sans-serif, arial; */

  /* background-image: linear-gradient(
    0deg,
    rgb(247, 247, 247) 23.8%,
    rgb(252, 221, 221) 92%
  ); */
}
